@use '../../scss/variables';

.formBox {
  padding-top: 24px;
  margin: 0 auto;
  max-width: 464px;
  text-align: center;

  h1 {
    margin-top: 24px;
    font-size: 40px;
  }

  .subtitle {
    font-size: 18px;
    line-height: 32px;
    margin-top: 16px;
    color: variables.$grey;
    font-weight: 500;
  }
}
