.email {
    margin-top: 20px;
}

.logout {
    margin-top: 28px;
    height: 56px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    position: relative;
    display: inline-block;
    width: 300px;
    padding: 0 32px;
    background: #E3000B;
    border-radius: 16px;
    text-align: center;
    color: #fff;
    cursor: pointer;
    border: none;
}