$grey: #8b919b;
$black: #1c1f23;
$white: #ccc;
$red: #e3000b;
$blue: #1db1ba;
$light-blue: #33a3dc;
$menu-color: #0e0f11;
$light-grey: #2e3239;
$color-free: #00a99d;
$color-selected: #f6a624;
$color-sold: #e62525;
