footer {
    position: relative;
    z-index: 20;
    background: #1C1F23;
    flex-shrink: 0;
    color: #8B919B;

    .container {
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
        margin-left: auto;
        margin-right: auto;
        max-width: 1364px;

        .wrapper {
            height: 40px;
            display: flex;
            align-items: center;

            .copy {
                margin-right: auto;
                font-weight: 500;
            }
        }
    }
}